/*=================================================*/
/*    2. HEADER                                    */
/*=================================================*/

header.container { position: relative; margin-top: 10px; }
#logo { width: 95px; }
.page-title { margin-bottom: 40px; padding-top: 37px; text-align: center; }
.page-title h1 { margin: 0; font-family: 'Montserrat', sans-serif; font-size: 28px; font-weight: bold; color: #131313; }
.top-search { position: relative; margin-bottom: 35px; }
.top-search:after { display: block; content: " "; position: absolute; top: 15px; right: 13px; z-index: 10; width: 14px; height: 13px;background: url('/assets/img/search.png') no-repeat; }
.top-search input[type="text"] { box-sizing: border-box; width: 100%; padding: 13px 40px 13px 13px; font-family: 'Ubuntu', sans-serif; font-size: 14px; font-weight: 500; color: #000; border: 1px solid #CCC; transition: all 0.7s; -moz-transition: all 0.7s; -webkit-transition: all 0.7s; }
.top-search input[type="text"].invalid { color: #990000; border: 1px solid #990000; }
.top-search #error-msg { height: 0px; line-height: 30px; padding-left: 13px; font-size: 14px; font-weight: 500; color: #990000; overflow: hidden; transition: all 0.7s; -moz-transition: all 0.7s; -webkit-transition: all 0.7s; }
.top-search .error-live { height: 30px !important; }
.lang-selector { display: inline-block; position: absolute; top: 0px; right: 15px; }
.lang-selector a { font-size: 14px; color: #131313; transition: color 0.7s; -moz-transition: color 0.7s; -webkit-transition: color 0.7s; }
.lang-selector a:hover { color: #999; }
.lang-selector a.active-lang { padding-left: 20px; background: url('/assets/img/lang-selector.png') no-repeat 0px 1px; font-weight: bold; }